KERNEL=="sda",MODE="0666"
#KERNEL=="sda",ACTION=="add",MODE="0666",RUN+="/bin/bash -c '/home/linux/test.sh'"
#KERNEL=="sda",ACTION=="add",MODE="0666",RUN+="/bin/bash -c '/etc/sg_dma_autoload-test.sh'"
#KERNEL=="sda",ACTION=="add",RUN+="/bin/bash /home/linux/test.sh"
#KERNEL=="sda",MODE="0660",RUN+="/usr/bin/touch /home/linux/test.txt"
#SUBSYSTEMS=="pci",DRIVERS=="SG_DMA",RUN+="/etc/sg_dma_autoload.sh"
#DRIVERS=="SG_DMA",RUN="sudo /etc/sg_dma_autoload.sh"
#DRIVERS=="SG_DMA",RUN="/bin/sh -c '/home/linux/test.sh'"
#DRIVERS=="SG_DMA",ACTION=="add",RUN+="test.service"
#DRIVERS=="SG_DMA",RUN+="/bin/bash -c '/etc/sg_dma_autoload-test.sh'"
DEVPATH=="/devices/pci0000:00/0000:00:1c.4/0000:07:00.0",RUN+="/bin/bash -c '/etc/sg_dma_autoload-test.sh'"
#DRIVERS=="SG_DMA",ACTION=="add",RUN="/usr/bin/touch /home/linux/test.txt"
#DEVPATH=="/devices/pci0000:00/0000:00:1c.4/0000:07:00.0",NAME="SG_DMAx"
#DEVPATH=="/devices/pci0000:00/0000:00:1c.4/0000:07:00.0",NAME="sg_dma0",SYMLINK="SG_DMAx"
